.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffeef7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);

}
.upper-page-content{
  grid-column: 3/3;

  .clickable{
    cursor: pointer;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 490px;
  grid-column: 2/3;
  grid-row: 2/3;


  .title {
    font-family: 'Indie Flower';
    font-size: 2.5em;
    font-weight: 600;
    color: #ff6b81;
    text-align: center;
  }


  .bouttons-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  .yes-boutton {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .no-boutton {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}




